<form [formGroup]="userForm" (submit)="saveUser()">
  <label for="name">Name</label><br>
  <input formControlName="name" id="name" /><br>
  <control-messages [control]="userForm.get('name')"></control-messages><br>

  <label for="email">Email</label><br>
  <input formControlName="email" id="email" /><br>
  <control-messages [control]="userForm.get('email')"></control-messages><br>

  <label for="password">Password</label><br>
  <input formControlName="password" id="password" /><br>
  <control-messages [control]="userForm.get('password')"></control-messages><br>

  <label for="confirm_password">Confirm Password</label><br>
  <input formControlName="confirm_password" id="confirm_password" /><br>
  <control-messages [control]="userForm.get('confirm_password')"></control-messages><br>

  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>