<!DOCTYPE html>
<html>

<head>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@RahulSite">
    <meta name="twitter:creator" content="@RahulCreator">
    <meta name="twitter:title" content="This is twitter title content">
    <meta name="twitter:description"
        content="CONTENT - this is the custom content that is added in the twitter description meta tag.">
    <!-- <meta name="twitter:image"
        content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg"> -->

    <meta name="twitter:image" content="https://4b0b3e13.ngrok.io/tweetImage">
    <!-- <meta name="twitter:image" content="../images/struct.png"> -->

</head>

<body>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="true"
        data-text='Alfreds Futterkiste,Maria Anders,Germany'>Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>

</html>